body {
  background-color: antiquewhite;
}

h1,
p, footer{
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: brown;
  font-weight: 600;
  text-decoration: none;
}

.croissant-photo {
  max-width: 50%;
  border-radius: 4px;
  display: block;
  margin: 30px 0;
  margin-left: auto;
  margin-right: auto;
}